.main { 
    position: absolute;
    font-family: Courier; 
    left: 100px;
    padding: 5px;
    text-align: center;
    border: 2px solid;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    border-radius: 10px;
    background: rgb(246,242,104);
    background: linear-gradient(142deg, rgba(246,242,104,0.39539565826330536) 0%, rgba(113,202,228,0.7791491596638656) 47%, rgba(139,249,113,0.3029586834733894) 100%);
    box-shadow: 5px 0px 20px 0px rgb(63, 63, 63);
}

.rofl{
    animation: rofl 3s;
    animation-iteration-count: infinite;
    position: absolute;
    left: 1300px;
    top: 300px;
}

@keyframes rofl{
    0% {
        transform: scale(1);
        transform: rotate(30deg);
}
    25%{
        transform: scale(1.1);
}
    50% {
        transform: scale(1);
        transform: rotate(-30deg);
}
    75%{
        transform: scale(1.1);
    }
    100%{transform: scale(1);
        transform: rotate(30deg)}
}

.leftbar{
    position: absolute;
    overflow: hidden;
    background-color: rgb(188, 255, 213);
    left: 0px;
    top: 0px;
    height: 100%;
    width: 30px;
    border: 2px solid;
    box-shadow: 5px 0px 15px 0px rgb(63, 63, 63);
    border-radius: 0px 15px 15px 0px;
    animation: leftbarclose 1s;
    animation-fill-mode: forwards;
    
}


.leftbar2{
    animation: leftbaropen 1s;
    animation-fill-mode: forwards;
}

.preload {
    animation: none !important;
  }

@keyframes leftbaropen{
    0%{width: 30px;}
    100% {width: 160px;}
}
@keyframes leftbarclose{
    0%{width: 160px;
        }
    100% {width: 30px;
        }
}


.leftbarbutton{
    position: absolute;
    z-index: 2;
    left: 1px;
    top: 10px;
    animation: leftbarbutrotate2 1s;
}

.leftbarbutton2{
    animation: leftbarbutrotate 1s;
    animation-fill-mode: forwards;
}


@keyframes leftbarbutrotate{
    from{
        left: 1px;
        top: 10px;
        transform: rotate(0deg);
    }
    to{
        left: 130px;
        top: 10px;
    transform: rotate(180deg);
    }
}

@keyframes leftbarbutrotate2{
    from{
        left: 130px;
        top: 10px;
    transform: rotate(180deg);
}
    to{
    left: 1px;
    top: 10px;
    transform: rotate(0deg);
    }
}

.leftbarbutton:hover{
    cursor: pointer;
}



.textabout{
    font-family: Courier; 
    position: absolute;
    left: 600px;
    top: 125px;
    padding: 5px;
    border-radius: 0px 5px 5px 0px;
    border-left: 5px solid rgb(124, 122, 255);
    box-shadow: 10px 10px 15px 0px rgba(103, 99, 179, 0.616);
    background: linear-gradient(90deg, rgb(197, 193, 255) 0%,
    rgb(188, 219, 255) 100%);
    width: 300px;
}

.textabout2{
    font-family: Courier; 
    position: absolute;
    left: 600px;
    top: 255px;
    padding: 5px;
    border-left: 5px solid rgb(124, 122, 255);
    background: linear-gradient(90deg, rgb(197, 193, 255) 0%,
    rgb(188, 219, 255) 100%);
    border-radius: 0px 5px 5px 0px;
    box-shadow: 10px 10px 15px 0px rgba(103, 99, 179, 0.616);
    width: 300px;
}

.textabout3{
    font-family: Courier; 
    position: absolute;
    left: 600px;
    top: 385px;
    padding: 5px;
    border-left: 5px solid rgb(124, 122, 255);
    background: linear-gradient(90deg, rgb(197, 193, 255) 0%,
    rgb(188, 219, 255) 100%);
    border-radius: 0px 5px 5px 0px;
    box-shadow: 10px 10px 15px 0px rgba(103, 99, 179, 0.616);
    width: 300px;
}

.textabout:hover{
    cursor: pointer;
}

.textabout2:hover{
    cursor: pointer;
}


.buttonvk{
    position: absolute;
    z-index: 2;
    background-color: white;
    width: 75px;
    height: 40px;
    border-color:black;
    border: 2px solid;
    padding: 0px 0px;
    border-radius: 10px;
    top: 183px;
    box-shadow: 1px 4px 4px 0px rgb(3, 3, 3);
    left: 36px; 
    
}

.buttonvk:hover{
    animation: butvk 0.5s;
    animation-fill-mode: forwards;
}

.buttonGIT{
    position: absolute;
    z-index: 2;
    background-color: white;
    width: 100px;
    height: 45px;
    border-color:black;
    border: 2px solid;
    padding: 0px 0px;
    border-radius: 10px;
    top: 43px;
    box-shadow: 1px 4px 4px 0px rgb(3, 3, 3);
    left: 36px;  
}

.pnggit{
    position: absolute;
    top:7px;
    left:6px;
}

.buttonGIT:hover{
    animation: butvk 0.5s;
    animation-fill-mode: forwards;
}


.buttonTW{
    position: absolute;
    z-index: 2;
    background-color: white;
    width: 95px;
    height: 45px;
    border-color:black;
    border: 2px solid;
    padding: 0px 0px;
    border-radius: 10px;
    top: 113px;
    box-shadow: 1px 4px 10px 0px rgb(3, 3, 3);
    left: 36px;
}

.buttonTW:hover{
    animation: butvk 0.5s;
    animation-fill-mode: forwards;
}

@keyframes butvk {
    from{position: absolute;

    }
    to {
        box-shadow: 1px 8px 8px 0px rgb(39, 39, 39);
        transform: scale(1.1); 
    }
}



.textvk{
    
    position: absolute;
    left: 40px;
    bottom: 10px;
    font-weight: bolder;
}

.texttw{
    position: absolute;
    left: 40px;
    bottom: 13px;
    font-weight: bolder;
}

.textgit{
    position: absolute;
    left: 45px;
    bottom: 13px;
    font-weight: bolder;
}

.myface{
    text-align: center;
    box-shadow: 15px 10px 2 0px 0px gray;
}


.bottomcase{
    position: absolute;
    bottom: 1px;
}

a:visited{
    color: black;
}


.drugNdrop{
    position: absolute;
    left: 900px;
    top: 100px;
    transform: rotate(20deg);
}

.arrow{
    position: absolute;
    left: 780px;
    top: 50px;
    transform: rotate(-20deg);
}
